.grid {
    display: grid;
    grid-template-rows: 100px 500px 200px;
}
.title {
    grid-row: 1;
}
.messages {
    grid-row: 2;
    overflow-y: scroll;
    overflow-anchor: none;
}
.sendButton{
    grid-row: 3;
}
.anchor {
    overflow-anchor: auto;
    height: 1px;
}